*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 16px;
}

#navbar #logo {
    margin-right: auto;
}

#navbar #logo img {
    width: 100px;
}

#card-container {
    display: flex;
    justify-content: center;
}

#card-1 {
    background-color: orange;
    padding: 24px;
    font-size: 20px;
}

#title {
    background-color: #E99A0D;
    align-items: center;
    padding: 24px;
    border: white solid 12px;
}
